<nav>
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>
        <li>
            <a href="index.php?menu=products&option=form_add">Add product</a>
        </li>
        <li>
            <a href="index.php?menu=products&option=list_all">List products</a>
        </li>
        <li>
            <a href="index.php?menu=products&option=form_id">Search products</a>
        </li>
        <li>
            <a href="index.php?menu=products&option=form_modify">Modify products</a>
        </li>
    </ul>
</nav>